<div class="col-12">
<%= form_with(model: chave) do |form| %>
  <% if chave.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chave.errors.count, "error") %> prohibited this chave from being saved:</h2>

      <ul>
        <% chave.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
   <div class="col-6">
     <%= form.label :identificador, style: "display: block" %>
     <%= form.text_field :identificador, class: "form-control" %>
   </div>
   <div class="col-6">
     <%= form.label :descricao, style: "display: block" %>
     <%= form.text_field :descricao, class: "form-control"%>
   </div>
   
</div>
 

  <div style="text-align: center; margin-top: 15px;">
    <%= form.submit "Submeter Informações", class: "btn btn-primary" %>
      <%= link_to "Voltar", chaves_path, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
