
<p style="color: green"><%= notice %></p>


<div class="row div-flex">
<div class="col-8">
<div class="card">
	<div class="card-header" style="text-align: center;"> Tabela de Funcionários</div>
	<div style="position: absolute; right: 0px;">  <%= link_to "Novo funcionario", new_funcionario_path , class: "btn btn-success"%></div>
	<div class="card-body">
<table class= "table">	
	<thead>
		<tr>
			<th>Nome</th>
			<th>Matrícula</th>
			<th>Função</th>
			 <th>Ações</th>
		</tr>
		
</thead>
<tbody>
<%Funcionario.all.each do |funcionario|%>
	<tr>
		<td><%=funcionario.nome%></td>
		<td><%=funcionario.matricula%></td>
		<td><%=funcionario.funcao%></td><td> 
			<%= link_to "Editar", edit_funcionario_path(id: funcionario.id), class: "btn btn-primary" %></div> 
			<%= link_to "Deletar", funcionario, method: :delete, class: "btn btn-danger" %></div> 
		</td>
	</tr>
<%end%>
</tbody>
</table>
	
	</div>
</div>

</div>
</div>





