<div id="<%= dom_id registro %>">
  <p>
    <strong>Chave:</strong>
    <%= registro.chave_id %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= registro.funcionario_id %>
  </p>

  <p>
    <strong>Hora retirada:</strong>
    <%= registro.hora_retirada %>
  </p>

  <p>
    <strong>Hora devolucao:</strong>
    <%= registro.hora_devolucao %>
  </p>

</div>
